#result {
   text-align: center; 
}
body {
    overflow-x: hidden;
}
.logo {
    border: 0;
    position: unset;
    width: auto;
}
.backgroundimg {
    z-index: -100;
    position: absolute;
}
.menu {
    left: 0;
    position: fixed;
    width: 130px;
    height: 100%;
    color: white;
    background-color: rgb(3 151 214);
    border: 0;
    border-radius: 0;
    top: 0;
    cursor: pointer;
    z-index: 3;
}
img {
    position: relative;
    width: 700px;
    left: 150px;
    /* border: 2px solid;
    border-color: rgb(3 151 214); */
    border-radius: 10px;
    margin-bottom: 10px;
}
.menulink {
    width: 130px;
    position: absolute;
    left: 0;
    padding: 0;
    z-index: 4;
}
.menuheader {
    left: 0;
    text-align: center;
    width: 150px;
    padding: 0px;
    font-size: 18pt;
    z-index: 3;
    position: relative;
}
h1 {
    position: relative;
    text-align: center;
    left: 150px;
    margin-top: 0;
    background-color: rgb(3 151 214);
    border-radius: 10px;
    padding: 5px;
    color: white;
    width: 700px;
}
h2 {
    position: relative;
    width: 700px;
    text-align: center;
    left: 150px;
    margin-top: 0;
    background-color: rgb(3 151 214);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 20pt;
}
header {
    background-color;
    padding: 10px; 
    left: 150px;
    position: relative;
}
table {
    border-color: white;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    left: 0;
    width: 700px;
}
div {
    position:relative;
    left: 150px;
    background-color: rgb(3 151 214);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16pt;
    width: 700px;
    margin-bottom: 20px;
    text-align: justify;
}
.container {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: -150px;
    background-color: white;
    z-index: 2;
    position: relative;
}
a {
    text-decoration: none;
    color: white; 
    padding: 2px;
    border-radius: 5px;
    font-size: 14pt;
}
a:hover {
    transition: 0.5s;
    background-color: white;
    color: rgb(3 151 214);
}
.chosen {
    color: rgb(3 151 214);
    background-color: white;
}
/* footer {
    background-color: rgb(3 151 214);
    position: relative;
    bottom: 0;
    right: 0;
    height: 50px;
    text-align: right;
    width: 80%;
    border-radius: 5px 0 0 5px;
    font-size: 18pt;
    color: white;
} */
ul {
    width: max-content;
    z-index: 4;
}
iframe {
    position: relative; 
    text-align: center;
    left: 150px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(3 151 214);
}
button {
    position: relative;
    left: 150px;
    margin-bottom: 10px;
}
